#blob-pool {
    box-sizing: border-box;
    position: relative;
    border: 1px solid red;
    width: 100dvw;
    height: 100dvh;    
}

.blob {
    position: absolute;
    z-index: 0;
    width: 100px;
    height: 100px;
    aspect-ratio: 1 / 1;
    &.selected {
        filter: drop-shadow(0 0 4px blue) drop-shadow(0 0 2px blue);        
    }
}